@import "tailwindcss";

@font-face {
  font-family: "Instrument Sans";
  src: url("/public/fonts/InstrumentSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("/public/fonts/InstrumentSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}



*{
    font-family: "Instrument Sans", sans-serif;
}
 
.buttonStyle{
    width: 200px;
    height: 40px;
    border: 1px solid #2e2e2e;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonStyle:hover{
    background-color: #2e2e2e;
    color: white;
    cursor: pointer;
}
